* {
  box-sizing: border-box;
}

body {
  display: inline-block;
}

.big_button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 32px 32px;
  border-radius: 10px;
  margin: 4px 5px;

  background-color: #03A9F4;
  text-align: center;
  text-decoration: none;
  font-size: 9vmin;
  line-height: 9vmin;
  color: #FFFFFF;

  transition-duration: 0.4s;
}

.big_button:hover {
  background-color: #0288D1;
}

.left {
  width: calc(50% - 10px);
  height: calc(100% - 9px);
  float: left;
}

.right {
  width: calc(50% - 10px);
  height: calc(100% - 9px);
  float: right;
}

.notification {
  position: absolute;

  height: 49px;
  color: #FFFFFF;
  width: 100%;
  z-index: 99;
}

.notification p {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 0px;
}

.notification.alert {
  background-color: #f44336;
}

.notification.info {
  background-color: #00bcd4;
}



.initially_hidden {
  display: none;
}

.mdl-spinner {
  margin-right: 13px;
}

.mdl-spinner__layer-1 { border-color: white !important; }
.mdl-spinner__layer-2 { border-color: white !important; }
.mdl-spinner__layer-3 { border-color: white !important; }
.mdl-spinner__layer-4 { border-color: white !important; }
