@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}


* {
  box-sizing: border-box;
  font-family: roboto;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
}


.button_container {
  position: relative;

  border-radius: 3vmin;
  margin: 4vmin 4vmin;

  width: calc(100% - 8vmin);
  height: calc(100% - 8vmin);

  cursor: pointer;
}


.big_button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 32px 32px;
  height: 100%;
  border-radius: 3vmin 3vmin 3vmin 3vmin;

  background-color: #03A9F4;
  text-align: center;
  text-decoration: none;
  font-size: 9vmin;
  line-height: 9vmin;
  color: #FFFFFF;

  transition-duration: 0.4s;
}
.big_button:hover {
  -webkit-filter: brightness(90%);
}


.back_button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10%);

  padding: 8px;
  border-radius: 50%;

  background-color: #319634;

  transition-duration: 0.4s;
}
.back_button img{
  height: 10vmin;
}


.initially_hidden {
  display: none;
}
