@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}


* {
  box-sizing: border-box;
  font-family: roboto;
}


.big_button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - 8vmin);
  height: calc(100% - 8vmin);
  float: left;

  padding: 32px 32px;
  border-radius: 3vmin;
  margin: 4vmin 4vmin;

  background-color: #03A9F4;
  text-align: center;
  text-decoration: none;
  font-size: 9vmin;
  line-height: 9vmin;
  color: #FFFFFF;

  transition-duration: 0.4s;
}
.big_button:hover {
  background-color: #0288D1;
}


.initially_hidden {
  display: none;
}
